/**
    * team-members
    * image-box
    * title-section
    * flat-couter
    * flat-button
    * flat-table
    * flat-progress
    * flat-testimonials
    * flat-tabs
    * flat-team
    * flat-video
    * timeline
    * spacer
    * testimonails-slider
*/

/* team-members
-------------------------------------------------------------- */
.themesflat_sc_vc-teammembers .team-image {
    position: relative;
    margin-bottom: 17px;
    overflow: hidden;
    border-radius: 5px;
}

.themesflat_sc_vc-teammembers {
    margin-bottom: 30px;
}

.themesflat_sc_vc-teammembers .team-image:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(19, 29, 59, 0.9);
    overflow: hidden;
    width: 100%;
    height: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.themesflat_sc_vc-teammembers .team-image img {
    border-radius:5px;
}

.themesflat_sc_vc-teammembers:hover .team-image:after {
    opacity: 1;
    height: 100%;
}

.team-box-social {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    transition: .5s ease;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.team-box-social > a {
    color: #b6bbcc;
    padding:  0 15px;
    display: inline-block;
}

.team-box-social > a:hover {
    color: #ff4f01;
}

.themesflat_sc_vc-teammembers:hover .team-box-social {
    visibility: visible;
    opacity: 1;
}

.themesflat_sc_vc-teammembers.line-borders {
    padding-bottom: 9px;
    border-bottom: 1px solid #e7eaee;
    position: relative;
} 

.themesflat_sc_vc-teammembers.line-borders:after {
    content: '';
    position: absolute;
    left: 0;
    bottom:   -1px;
    width: 20px;
    height: 1px;
    background-color: #ff4f01;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.themesflat_sc_vc-teammembers.line-borders:hover:after {
    left: calc(100% - 20px);
} 

.themesflat_sc_vc-teammembers .team-position {
    font-size: 12px;
    letter-spacing: 2.2px;
}

.themesflat_sc_vc-teammembers .team-name {
    margin-bottom: 2px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.bg-image-career1 {
    background-image: url(../image/career/bg_career1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.benefit-page-career ul li {
    font-size: 20px;
    color: #131d3b;
    clear: both;
    background-color: #f2f3f5;
    padding: 47px 40px 49px 58px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.benefit-page-career ul li:last-child {
    margin-bottom: 0;
}

.benefit-page-career ul li:before {
    content: '';
    font-family: 'dustri-icon';
    color: #ff4f01;
    font-size: 54px;
    float: left;
    margin-right: 21px;
    margin-top: 2px;
}

.benefit-page-career ul li:nth-child(1):before {
    content: '\e916';
}

.benefit-page-career ul li:nth-child(2):before {
    content: '\e904';
}

.benefit-page-career ul li:nth-child(3):before {
    content: '\e903';
    font-size: 48px;
}

.main-team-member {
    padding: 121px 0 88px;
}

/* image-box
-------------------------------------------------------------- */
.imagebox-item .imagebox.style1 {
    position: relative;
    overflow: hidden;
}

.imagebox-item .imagebox-image {
    position: relative;
}

.imagebox-image img {
    width: 100%;
}

.imagebox-item .imagebox.style1 .imagebox-title {
    padding: 20px 0 20px 0;
    background-color: #ff4f01;
    border-radius: 4px;
    min-height: 45px;
    text-align: center;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 21px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.imagebox-item .imagebox.style1 .imagebox-title h2 a {
    font-family: Roboto Condensed;
    font-size: 20px;
    line-height: auto;
    font-weight: 400;
    color: #fff;
}

.imagebox-item .imagebox.style1:hover .imagebox-title {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
    -ms-transform: translateY(-300%);
    -o-transform: translateY(-300%);
    transform: translateY(-300%);
}

.imagebox-item.active .imagebox.style1 .imagebox-title {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

.imagebox-item .imagebox.style1 .imagebox-content {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    border-radius: 4px;
    font-size: 14px;
    padding: 48px 48px 39px 48px;
    transform: translateY(100%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.imagebox-item .imagebox.style1:hover .imagebox-content {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.imagebox-item.active .imagebox.style1 .imagebox-content {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.imagebox-item .imagebox.style1 .imagebox-content h3 a {
    font-family: Roboto Condensed;
    font-size: 20px;
    line-height: auto;
    font-weight: 400;
    color: #131d3b;
}

.imagebox-item .imagebox.style1 .imagebox-content h3 a:hover {
    color: #ff4f01;
}

.imagebox-item .imagebox.style1 .imagebox-content p {
    font-family: Roboto Condensed;
    font-size: 16px;
    line-height: 30px;
    color: #707789;
    font-weight: 400;
    letter-spacing: 0;
}

.imagebox-item .imagebox.style1 .imagebox-content h2 a {
    font-family: Roboto Condensed;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #ff4f01;
    letter-spacing: 2.7px;
}

.imagebox-item .imagebox.style1 .imagebox-content h2 a:hover {
    color: #131d3b;
}

.imagebox-item .imagebox.style1 .imagebox-content h2 {
    position: relative;
}

.imagebox-item .imagebox.style1 .imagebox-content .imagebox-button {
  margin-top: 13px;
}

.imagebox-item .imagebox.style1 .imagebox-content .imagebox-desc {
  margin-top: 21px;
}

/* title-section
-------------------------------------------------------------- */
.title-section.style1 {
  text-align: center;
  padding: 0 200px;
}

.title-section.style2 {
  overflow: hidden;
}

.title-section h4 {
  margin-top: 23px;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-weight: 400;
  color: #666d81;
  letter-spacing: 3.2px;
}

.title-section h1 {
  margin-top: 9px;
  font-family: Roboto Condensed;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: #131d3b;
}

.title-section.style3 h4 {
    margin-top: 12px;
}

.title-section .text {
    margin-top: 40px;
}

.divider.height300px {
  height: 300px;
}

/* flat-couter
-------------------------------------------------------------- */
.flat-counter {
    margin-top: 68px;
}

.flat-counter ul {
    list-style-type: none;
}

.flat-counter ul li {
    display: inline-block;
    float: left; 
}

.flat-counter ul li.projects {
    margin-right: 147px;
}

.flat-counter ul li.professional {
    margin-right: 168px;
}

.flat-counter ul li.industries {
    margin-right: 197px;
}

.flat-counter .wrap-bg .numb-count {
    font-family: Roboto Condensed;
    font-size: 100px;
    line-height: 50px;
    font-weight: 400;
    color: #ff4f01;
}

.flat-counter .wrap-bg .name-count {
    font-family: Roboto Condensed;
    font-size: 20px;
    line-height: 50px;
    font-weight: 400;
    color: #131d3b;
    margin-top: 29px;
}

/* flat-button
-------------------------------------------------------------- */
.themesflat_sc_vc-button {
    font-size:14px;
    border-radius:5px;
    background-color: #ff4f01;
    color: #fff;
    padding: 17px 27px;
    font-weight: 600;
    display: inline-block;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;      
}

.themesflat_sc_vc-button.big {
    padding: 23px 60px;
    font-size: 18px;
}

.themesflat_sc_vc-button:hover {
    background-color: #222;
    color: #fff;
}

.themesflat_sc_vc-headings .sub-heading {
    font-style:normal;
    font-size:18px;
    margin-bottom:36px;
    max-width:860px; 
    margin-left: auto; 
    margin-right: auto;
}

/* flat-table
-------------------------------------------------------------- */
.themesflat_sc_vc-table .table-simple th {
    font-family:Roboto Condensed; 
    font-weight:400; 
    font-style:normal; 
}

.themesflat_sc_vc-table.table-responsive {
    color: #666d81;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.themesflat_sc_vc-table .table-simple th {
    padding-top: 20px;
    padding-bottom: 20px;
}

.themesflat_sc_vc-table  .table-simple  td {
    padding-top: 45px;
    padding-bottom: 32px;
}

.themesflat_sc_vc-table  .table-simple thead {
    background-color: #f2f3f5;
    color: #131d3b;
    font-size: 18px;
}

.themesflat_sc_vc-table  .table-simple  thead tr,
.themesflat_sc_vc-table  .table-simple  thead th {
    border-color: transparent;
}

.themesflat_sc_vc-table  .table-simple   tr  {
    border-left: 1px solid #f2f3f5;
    border-right: 1px solid #f2f3f5;
}

.themesflat_sc_vc-table  .table-simple  th,
.themesflat_sc_vc-table  .table-simple  td {
    border:unset;
    border-bottom:1px solid #f2f3f5;
 
}

.themesflat_sc_vc-table  .table-simple  th:nth-child(1),
.themesflat_sc_vc-table  .table-simple  td:nth-child(1)  {
    padding-left: 58px;
    min-width: 461px;
}

.themesflat_sc_vc-table  .table-simple  th:nth-child(2),
.themesflat_sc_vc-table  .table-simple  td:nth-child(2)  {
    min-width: 207px;
}
.themesflat_sc_vc-table  .table-simple  th:nth-child(3),
.themesflat_sc_vc-table  .table-simple  td:nth-child(3)  {
    min-width: 207px;
}
.themesflat_sc_vc-table  .table-simple  th:nth-child(4),
.themesflat_sc_vc-table  .table-simple  td:nth-child(4)  {
    min-width: 250px;
}

.themesflat_sc_vc-table.tb-text-left th,
.themesflat_sc_vc-table.tb-text-left td {
    text-align: left;
}

.themesflat_sc_vc-table.tb-text-right th,
.themesflat_sc_vc-table.tb-text-right td {
    text-align: right;
}
.themesflat_sc_vc-table.tb-text-center th,
.themesflat_sc_vc-table.tb-text-center td {
    text-align: center;
}

/* flat-progress
--------------------------------------------------------------*/
.themesflat-progress {
    position: relative;
    overflow: hidden;
}

.themesflat-progress .title,
.themesflat-progress .perc {
    line-height: normal;
    margin: 0;
}

.themesflat-progress .title {
    position: absolute;
    left: 0;
    top: 0;
}

.themesflat-progress .progress-animate {
    width: 0;
}

.themesflat-progress .progress-bg {
    width: 100%;
}

.themesflat-progress .perc {
    width: 0;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.themesflat-progress .perc.show {
    filter: alpha(opacity=100);
    opacity: 1;
    width: 100%;
    float: right;
}

.themesflat-progress.height-10px .progress-animate {
    height: 5px;
}

.themesflat-progress.style-1 h3.title {
    font-family: Roboto Condensed;
    font-size: 20px;
    font-weight: 400;
    color: #131d3b;
}

.themesflat-content-box {
    margin-top: 55px;
}

.themesflat-progress.style-1.next {
    margin-top: 35px;
}

.themesflat-progress.style-1.next-two {
    margin-top: 35px;
}

.themesflat-progress.style-1.next-three {
    margin-top: 23px;
}

.themesflat-progress.style-1 span {
   font-family: Roboto Condensed;
   font-size: 16px;
   font-weight: 400;
   line-height: 30px;
   color: #666d81;
}

.themesflat-progress.style-1 .progress-bg {
    background-color: #f7f7f7;
    margin-top: 38px;
}

.themesflat-progress.style-1.style2 .progress-animate {
    background-color: #ff4f01;
    position: relative;
}

.themesflat-progress.style-1.style2 .progress-animate:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff4f01;
    width: 10px;
    height: 10px;
    border-radius: 40px;
}

/* flat-testimonials
--------------------------------------------------------------*/
.flat-testimonials {
    background-image: url(../image/home/home11.jpg);
    background-size: cover;
    background-position-x: center;
    padding: 114px 0 113px;
}

.flat-testimonials .avatar-testimonials {
    width: 42.7%;
    float: left;
}

.flat-testimonials .text-testimonials {
    padding-top: 187px;
    width: 57.3%;
    overflow: hidden;
}

.flat-testimonials .avatar-testimonials h4 {
    color: #b6bbcc;
}

.flat-testimonials .avatar-testimonials h1 {
    color: #fff;
}

.flat-testimonials .avatar-testimonials .avatar-image {
    position: relative;
    display: inline-block;
}

.flat-testimonials .avatar-testimonials .avatar-image span:before {
    content: "“";
    width: 30px;
    height: 30px;
    background-color: rgb(255, 79, 1);
    color: rgb(255, 255, 255);
    display: inline-block;
    line-height: 48px;
    font-size: 30px;
    text-align: center;
    right: -2%;
    bottom: 0%;
    position: absolute;
    border-radius: 50%;
}

.flat-testimonials .avatar-testimonials .avatar {
    display: inline-block;
    margin-top: 57px;
}

.flat-testimonials .avatar-testimonials ul li {
    display: inline-block;
    float: left;
}

.flat-testimonials .avatar-testimonials ul li.shirley {
    margin-right: 59px;
}

.flat-testimonials .avatar-testimonials ul li.mike {
    margin-right: 51px;
}

.flat-testimonials .avatar-testimonials .avatar-image span i {
    line-height: 30px;
}

.flat-testimonials .avatar-testimonials .avatar-info {
    margin-top: 26px;
}

.flat-testimonials .avatar-testimonials .avatar-info span {
    font-family: Roboto Condensed;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #fff;
}

.flat-testimonials .avatar-testimonials .avatar-info p {
    font-family: Roboto Condensed;
    font-size: 12px;
    line-height: 26px;
    font-weight: 400;
    color: #b6bbcc;
    letter-spacing: 2.5px;
}

.flat-testimonials .text-testimonials p {
    font-family: Roboto Condensed;
    font-size: 24px;
    line-height: 42px;
    font-weight: 400;
    color: #fff;
}

.flat-testimonials .text-testimonials span {
    font-family: Roboto Condensed;
    font-size: 16px;
    line-height: 50px;
    font-weight: 700;
    color: #ff4f01;
    margin-top: 7px;
    display: inline-block;
    letter-spacing: 3.4px;
}

.flat-testimonials .wrap-testimonials {
    position: relative;
}

.flat-testimonials .owl-prev span,
.flat-testimonials .owl-next span {
    display: none;
}

.flat-testimonials .owl-carousel .owl-dots button {
    padding: 0 !important;
    width: 15px;
    height: 15px;
    border: 5px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    margin: 0 2px;
}

.flat-testimonials .owl-dots {
    position: absolute;
    top: 55px;
    right: 0;
    text-align: right;      
}

/* flat-tabs
--------------------------------------------------------------*/
.flat-tabs ul.menu-tab {
    margin-top: 46px;
}

.flat-tabs ul.menu-tab li {
    background: #f2f3f5;
    float: left;
    width: 19%;
    cursor: pointer;
    text-align: center;
    padding: 61px 55px 54px;
    border-right: 1px solid #fff;
    margin: 0 7px;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.flat-tabs ul.menu-tab li:first-child {
    margin-left: 0;
}

.flat-tabs ul.menu-tab li:last-child {
    margin-right: 0;
}

.flat-tabs ul.menu-tab li a {
    display: block;
    margin-top: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.flat-tabs ul.menu-tab li.active,
.flat-tabs ul.menu-tab li:hover {
    background-color: #ff4f01;
}

.flat-tabs ul.menu-tab li i {
    color: #131d3b;
    font-size: 48px;
    min-height: 56px;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.flat-tabs ul.menu-tab li.active i,
.flat-tabs ul.menu-tab li:hover i,
.flat-tabs ul.menu-tab li.active a,
.flat-tabs ul.menu-tab li:hover a {
    color: #fff;
}

.flat-tabs ul.menu-tab li a {
    font-family: Roboto Condensed;
    font-size: 20px;
    font-weight: 400;
    color: #131d3b;
    line-height: 24px;
}

.flat-tabs .content-tab {
    margin-top: 60px;
}

.flat-tabs .content-wrap .image-content {
    position: relative;
}

.flat-tabs .content-wrap .title-content {
    width: 45%;
    padding: 54px 20px 54px 61px;
    position: absolute;
    top: 5%;
    left: 4%;
    background-color: #fff;
    border-radius: 4px;
}

.flat-tabs .content-wrap .title-content span {
    font-family: Roboto Condensed;
    font-size: 26px;
    font-weight: 400;
    color: #131d3b;
}

.flat-tabs .content-wrap .title-content span.color {
    color: #ff4f01;
}

.flat-tabs .content-wrap .content-text {
    background-color: #ff4f01;
    padding: 57px 59px 49px;
    border-radius: 4px;
}

.flat-tabs .content-wrap .content-text span a {
    font-family: Roboto Condensed;
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    line-height: 37px;
}

.flat-tabs .content-wrap .content-text span a:hover {
    color: #131d3b;
}

.flat-tabs .content-wrap .content-text h4 {
    position: relative;
    margin-top: 115px;
}

.flat-tabs .content-wrap .content-text h4:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 60%;
    height: 1px;
    background-color: #ff6927;
}

.flat-tabs .content-wrap .content-text h4:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    width: 10%;
    height: 1px;
    background-color: #fff;
        -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.flat-tabs .content-wrap .content-text h4:hover:after {
    right: 0%;
}

.flat-tabs .content-wrap .content-text h4 a {
    font-family: Roboto Condensed;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 2.7px;
}

.flat-tabs .content-wrap .content-text h4 a:hover {
    color: #131d3b;
}

.flat-tabs .content-post {
    margin-top: 58px;
}

.flat-tabs .content-post .icon-post {
    display: inline-block;
}

.flat-tabs .content-post .icon-post i {
    font-size: 63px;
    color: #ff4f01;
}

.flat-tabs .content-post .icon-post i:hover {
    color: #131d3b;
}

.flat-tabs .content-post h3 {
    margin-top: 28px;
}

.flat-tabs .content-post h3 a {
   font-family: Roboto Condensed;
   font-size: 24px;
   line-height: 30px;
   font-weight: 400;
   color: #131d3b;
}

.flat-tabs .content-post h3 a:hover {
    color: #ff4f01;
}

.flat-tabs .content-post p {
    font-family: Roboto Condensed;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #666d81;
    margin-top: 33px;
}

.flat-tabs .content-post h4 {
    position: relative;
    margin-top: 31px;
}

.flat-tabs .content-post h4 a {
    font-family: Roboto Condensed;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #ff4f01;
    letter-spacing: 2.7px;
}

.flat-tabs .content-post h4 a:hover {
    color: #131d3b;
}

/* flat-team
--------------------------------------------------------------*/
.flat-team {
    padding: 115px 0 120px;
}

.flat-team .title-section.style1 h4 {
    margin-top: 12px;
}

.flat-team .post {
    margin-top: 58px;
}

.flat-team .post .featured-post {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.flat-team .post .featured-post:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    text-align: center;
    background-color: rgba(19, 29, 59, 0.9);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.flat-team .post .featured-post:hover:after,
.flat-team .post .featured-post.active:after {
    opacity: 1;
    height: 100%;
}

.flat-team .post .featured-post .social {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.flat-team .post .featured-post:hover .social {
    opacity: 1;
}

.flat-team .post .featured-post.active .social {
    opacity: 1;
}

.flat-team .post .featured-post .social li {
    display: inline-block;
    margin-right: 25px;
}

.flat-team .post .featured-post .social li:last-child {
    margin-right: 0;
}

.flat-team .post .featured-post .social li a {
    color: #fff;
}

.flat-team .post .featured-post .social li a:hover {
    color: #ff4f01;
}

.flat-team .post .featured-post .social li.active a {
    color: #ff4f01;
}

.flat-team .post .content-post span {
    font-family: Roboto Condensed;
    font-size: 20px;
    line-height: 26px;
    color: #131d3b;
    margin-top: 14px;
    display: inline-block;
}

.flat-team .post .content-post p {
    font-family: Roboto Condensed;
    font-size: 12px;
    line-height: 26px;
    color: #666d81;
    padding-bottom: 11px;
    position: relative;
    letter-spacing: 2.3px;
}

.flat-team .post .content-post span:hover,
.flat-team .post .content-post p:hover {
    color: #ff4f01;
}

.flat-team .post .content-post p:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #e7eaee;
}

.flat-team .post .content-post p:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 95%;
    width: 5%;
    height: 1px;
    background-color: #ff4f01;
        -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.flat-team .post:hover .content-post p:after {
    right: 0%;
}

.flat-projects.style2 {
    padding-top: 99px;
    background-color: #f2f3f5;
}

.flat-projects.style2 .title-projects {
    margin-left: 64px;
}

.flat-projects.style2 .image-title {
    float: left;
    margin-right: 19px;
}

.flat-projects.style2 .title-projects span {
    font-family: Roboto Condensed;
    font-size: 30px;
    font-weight: 400;
    color: #131d3b;
}

.flat-latest-new {
    background-color: #131d3b;
    padding: 94px 0 328px 0;
}

.flat-latest-new .title-section h4 {
    color: #b6bbcc;
    margin-top: 12px;
}

.flat-latest-new .title-section h1 {
    color: #fff;
}

/* flat-video
--------------------------------------------------------------*/
.flat-video {
    background-image: url(../image/home/home18.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 263px 0 120px;
    text-align: center;
    background-position-x: center;
}

.flat-video.style2 {
    padding: 263px 0 241px;
}

.videobox a.fancybox {
    width: 100px;
    height: 100px;
    background-color: #ff4f01;
    color: #fff;
    text-align: center;
    border-radius: 90px;
    line-height: 100px;
}

.videobox a.fancybox {
    position: absolute;
    top: -80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.videobox a.fancybox:hover {
    background-color: #f50808;
    color: #fff;
}

.videobox a.fancybox:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    -o-animation: myPulse 3s infinite cubic-bezier(0.4, 0, 1, 1) both;
    -ms-animation: myPulse 3s infinite cubic-bezier(0.4, 0, 1, 1) both;
    -webkit-animation: myPulse 3s infinite cubic-bezier(0.4, 0, 1, 1) both;
    animation: myPulse 3s infinite cubic-bezier(0.4, 0, 1, 1) both;
}

.flat-video span {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    line-height: 60px;
}

.flat-video .wrap-video {
    padding: 0 270px;
}

/* timeline
-------------------------------------------------------------- */
.timeline { 
    position: relative; 
    max-width: 100%; 
    margin: 0 auto; 
}

.timeline::after { 
    content: ''; 
    position: absolute; 
    width: 4px; 
    background-color: #eee; 
    top: 0; 
    bottom: 0; 
    left: 50%; 
    margin-left: -3px; 
}

.timeline-container { 
    position: relative; 
    background-color: inherit; 
    width: 50%; 
}
.timeline-container .highlight { 
    position: absolute; 
    width: 18px; 
    height: 18px; 
    left: 100%; 
    transform: translateX(-57%); 
    background-color: #fff; 
    border: 2px solid #ff4f01; 
    top: 15px; 
    border-radius: 50%; 
    z-index: 1; 
}

.timeline-left { 
    left: 0; 
}

.timeline-right { 
    left: 50%; 
}

.timeline-left .timeline-content-inner .arrows { 
    content: " "; 
    height: 18px; 
    width: 18px; 
    position: absolute; 
    top: 22px; 
    left: 100%; 
    z-index: 1; 
    border: medium solid transparent; 
    border-width: 10px 0 10px 10px; 
    border-color: transparent transparent transparent white; 
}

.timeline-right .timeline-content-inner .arrows { 
    content: " "; 
    height: 18px; 
    width: 18px; 
    position: absolute; 
    top: 22px; 
    right: 100%; 
    z-index: 1;  
    border: medium solid transparent; 
    border-width: 10px 10px 10px 0; 
    border-color: transparent white transparent transparent; 
}

.timeline-right .highlight { 
    left: 0; 
}

.timeline-content { 
    position: relative; 
    border-radius: 6px; 
}

.timeline-content-inner{ 
    background: #f7f7f7; 
    border-radius: 10px; 
    padding: 20px 30px 30px 30px; 
    position: relative; 
}

.timeline-content h3{ 
    display: block; 
    color: #222; 
    font-size: 16px; 
    font-weight: 600;
    margin: 7px 0px; 
}

.timeline-content .text{ 
    font-size: 16px; 
    color: #666d81; 
    line-height: 1.8; 
}

.timeline h2{ 
    display: block; 
    color: #ff4f01; 
    font-size: 20px; 
    font-weight: 500; 
    letter-spacing: -1px; 
    word-spacing: 1px; 
    margin-bottom: 15px; 
}

.timeline-left-all h2{ 
    width: 50%; 
    color: #ff4f01; 
    margin-left: 50%; 
    padding-left: 30px; 
    margin-bottom: -35px; 
}

.timeline-right-all h2{ 
    width: 50%; 
    text-align: right; 
    color: #ff4f01; 
    padding-right: 35px; 
    margin-bottom: -35px; 
} 

.timeline-left .timeline-content { 
    text-align: right; 
}

.timeline-content .text {
    line-height: 30px;
}

/* spacer
-------------------------------------------------------------- */
.themesflat_sc_vc-spacer.has_thumbnail .timeline  {
   padding-bottom: 20px;
}

.themesflat_sc_vc-spacer.has_thumbnail .wrap-time {
    max-width:  280px;
    float: left;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.themesflat_sc_vc-spacer.has_thumbnail .timeline-container  {
    width:  calc(100% - 280px);
    float: right;
    position: relative;
}

.themesflat_sc_vc-spacer.has_thumbnail .timeline:before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ff4f01;
    position: absolute;
    left: 330px;
    top: 0;
    z-index: 1;
}

.themesflat_sc_vc-spacer.has_thumbnail .time { 
    background: #ff4f01;
    position: absolute;
    transform-origin: top;
    left: -140px;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: rotateZ(270deg);
    line-height: 44px;
    font-size: 16px;
    letter-spacing: 6.2px;
    color: #fff;
}

.themesflat_sc_vc-spacer.has_thumbnail .timeline::after {
    left: 336px;
}


.themesflat_sc_vc-spacer.has_thumbnail .timeline-content-inner {
    background: transparent;
    padding-left: 119px;
    padding-top: 0;
    padding-right: 0;
}

.themesflat_sc_vc-spacer.has_thumbnail .timeline-content-inner h3 {
    font-size:20px;
    margin-top:-2px;
    margin-bottom:37px;
    font-family:Roboto Condensed; 
    font-weight:400; 
    font-style:normal;
}    

.themesflat_sc_vc-spacer.has_thumbnail:last-child .timeline:after {
    content: none;
}

.themesflat_sc_vc-spacer.has_thumbnail:last-child .timeline {
    padding-bottom: 0px;
}

.page-history .themesflat_sc_vc-spacer.has_thumbnail .timeline::after {
    background-color:#fff;
}

/* testimonails-slider
-------------------------------------------------------------- */ 
.themesflat-testimonials-slider #nav-testimonial {
    width: 43%;
    float: left;
}

.themesflat-testimonials-slider #slider-testimonial {
    width: 57%;
    float: right;
}

.testimonial-item .testimonial-img {
    width: 80px;
    height: 80px;
    position: relative;
}

.testimonial-item .testimonial-img:after {
    content: "“";
    width: 30px;
    height: 30px;
    background-color: #ff4f01;
    color: #fff;
    display: inline-block;
    line-height: 48px;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    right: -2%;
    bottom: 0%;
    position: absolute;
} 

.testimonial-item.image-circle .testimonial-img,
.testimonial-item.image-circle .testimonial-img img,
.themesflat-testimonials-slider.arrow-circle .flex-direction-nav a{
    border-radius: 50%; 
}

.testimonial-item .name {
    margin-top: 27px;
    margin-bottom: 1px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
}

.testimonial-item .position {
    letter-spacing: 1.6px;
    font-size: 14px;
    line-height: 1.6px;
    color: #b6bbcc;
}

#slider-testimonial .text {
    font-size: 24px;
    line-height: 42px;
    letter-spacing: -0.1px;
    margin-bottom: 17px;
}

#slider-testimonial .date {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 3.2px;
}

#nav-testimonial {
    margin-top: 12px;
}

.themesflat-testimonials-slider.dost-top-right .flex-control-nav {
    position: absolute;
    top: -141px;
    right: 0;
    width: unset;
}

#nav-testimonial li {
    opacity: 0.3;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.themesflat-testimonials-slider .flex-control-nav li a {
    border-color: #fff;
    opacity: 0.3;
}

#nav-testimonial li:hover,
#nav-testimonial li.flex-active-slide {
    opacity: 1;
}

.themesflat-testimonials-slider .flex-control-nav li a.flex-active,
.themesflat-testimonials-slider .flex-control-nav li a:hover {
    border-color: #fff;
    opacity: 1;
}


.flat-video {
    background-image: url(../image/home/home18.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 263px 0 120px;
    text-align: center;
    background-position-x: center;
}

.flat-video.style2 {
    padding: 263px 0 241px;
}

.videobox a.fancybox {
    width: 100px;
    height: 100px;
    background-color: #ff4f01;
    color: #fff;
    text-align: center;
    border-radius: 90px;
    line-height: 100px;
}

.videobox a.fancybox {
    position: absolute;
    top: -80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.videobox a.fancybox:hover {
    background-color: #f50808;
    color: #fff;
}

.videobox a.fancybox:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    -o-animation: myPulse 3s infinite cubic-bezier(0.4, 0, 1, 1) both;
    -ms-animation: myPulse 3s infinite cubic-bezier(0.4, 0, 1, 1) both;
    -webkit-animation: myPulse 3s infinite cubic-bezier(0.4, 0, 1, 1) both;
    animation: myPulse 3s infinite cubic-bezier(0.4, 0, 1, 1) both;
}

.flat-video span {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    line-height: 60px;
}

.flat-video .wrap-video {
    padding: 0 270px;
}